body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    color: #2070ff;
    font-size: 15px;
    background-color: #fffff0;
    background-image: radial-gradient(circle, #ff00ff 0px, transparent 0px);
    background-position: center;
    background-size: 30px 30px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
  }
}

div {
    font-family: robotomono, arkpixel, sans-serif;
    color: #000000;
    font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  div {
    color: #ffffff;
  }
}

hw {
    font-family: robotomono, arkpixel, sans-serif;
    font-weight: bold;
    color: #0050ff;
    font-size: 15px;
}

button {
    border: none;
    border-radius: 0.20em; 
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: robotomono;
    font-weight: bold;
    font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #ffffff;
    color: #000000;
  }
}

button:hover {
  background-color: #0050ff;
  color: white;
}

@font-face {
  font-family: "arkpixel";
  src: url("arkpixel.ttf");
  }

@font-face {
  font-family: "robotomono";
  src: url("robotomono.ttf");
}
