body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Fira Code', sans-serif;
    background-color: #ffffff;
    background-image: radial-gradient(circle, #00ffff 1px, transparent 1px);
    background-position: center;
    background-size: 30px 30px;
}

.hello {
    color: #ff0064;
    font-size: 1rem;
}